<%- include('./partials/header') %>

<form action="/<%= card.id %>?_method=PUT" method="POST">
    <h3>Player:</h3>
    <label>First:
        <input type="text" name="firstName" value="<%= card.firstName %>">
    </label><br>
    <label>Last:
        <input type="text" name="lastName" value=" <%= card.lastName %>">
    </label><br>
    <h3>Card Info:</h3>
    <label>Year:
        <input type="text" name="year" value=" <%= card.year %>">
    </label>
    <label>Manufacturer:
        <select name="manufacturer">
            <option value="<%=card.manufacturer%>" selected><%=card.manufacturer%></option>
            <option value="Topps">Topps</option>
            <option value="Upper Deck">Upper Deck</option>
            <option value="Panini">Panini</option>
            <option value="Bowman">Bowman</option>
            <option value="Fleer">Fleer</option>
            <option value="Prizm">Prizm</option>
        </select>
    </label><br>
    <label>Team:
        <input type="text" name="team" value=" <%= card.team %>">
    </label><br>
    <label>Sport:
        <select name="sport">
            <option value="<%=card.sport%>" selected><%=card.sport%></option>
            <option value="Football">Football</option>
            <option value="Baseball">Baseball</option>
            <option value="Basketball">Basketball</option>
            <option value="Hockey">Hockey</option>
        </select>
    </label>
    <label>Card No:
        <input type="text" name="cardNo" value=" <%= card.cardNo %>">
    </label><br>
    <label>Rookie:
        <input type="checkbox" name="rookie">
    </label>
    <label>Quantity:
        <input type="number" name="quantity" min="1" value="<%=card.quantity%>">
    </label>
    <label>Purchase Price
        <input type="text" name="price" value=" <%= card.price %>">
    </label><br>
    <h3>Grading:</h3>
    <label>Grading Company:
        <select name="gradingCo">
            <option value="<%=card.gradingCo%>"><%=card.gradingCo%></option>
            <option value="PSA">PSA</option>
            <option value="BGS">BGS</option>
            <option value="SGC">SGC</option>
        </select>
    </label>
    <label>Grade:
        <select name="grade">
            <option value="<%=card.grade%>"><%=card.grade%></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </label><br>
    <button type="submit">Update Card</button>
</form>

<%- include('./partials/footer') %>