<%- include('./partials/header') %>

<form action="/<%= card.id %>?_method=PUT" method="POST" id="editForm">
    <h3>Player:</h3>
    <div id="playerInput">
    <label>First:<br>
        <input type="text" name="firstName" value="<%= card.firstName %>" size="25vmin">
    </label><br>
    <label>Last:<br>
        <input type="text" name="lastName" value=" <%= card.lastName %>" size="25vmin">
    </label><br>
    </div><br>
    <h3>Card Info:</h3>
    <div id="cardInput">
    <label>Year:<br>
        <input type="text" name="year" value=" <%= card.year %>" size="10vmin">
    </label>
    <label>Manufacturer:<br>
        <select name="manufacturer">
            <option value="<%=card.manufacturer%>" style="width:13vmin;" selected><%=card.manufacturer%></option>
            <option value="Topps">Topps</option>
            <option value="Upper Deck">Upper Deck</option>
            <option value="Panini">Panini</option>
            <option value="Bowman">Bowman</option>
            <option value="Fleer">Fleer</option>
            <option value="Prizm">Prizm</option>
        </select>
    </label><br>
    <label>Team:<br>
        <input type="text" name="team" value=" <%= card.team %>" size="26vmin">
    </label><br>
    <label>Sport:<br>
        <select name="sport">
            <option value="<%=card.sport%>" style="width:11vmin;" selected><%=card.sport%></option>
            <option value="Football">Football</option>
            <option value="Baseball">Baseball</option>
            <option value="Basketball">Basketball</option>
            <option value="Hockey">Hockey</option>
        </select>
    </label>
    <label>Card No:<br>
        <input type="text" name="cardNo" size="12vmin" value=" <%= card.cardNo %>">
    </label><br>
    <label>Rookie:<br>
        <input type="checkbox" name="rookie" <%=card.rookie ? 'checked' : 'unchecked'%>>
    </label>
    <label>Quantity:<br>
        <input type="number" name="quantity" style="width:5vmin;" min="1" value="<%=card.quantity%>">
    </label>
    <label>Purchase Price<br>
        <input type="text" name="price" size="11vmin" value=" <%= card.price %>">
    </label><br>
    </div><br>
    <h3>Grading:</h3>
    <div id="gradingInput">
    <label>Grading Company:<br>
        <select name="gradingCo" style="width:15vmin;">
            <option value="<%=card.gradingCo%>"><%=card.gradingCo%></option>
            <option value="PSA">PSA</option>
            <option value="BGS">BGS</option>
            <option value="SGC">SGC</option>
        </select>
    </label>
    <label>Grade:<br>
        <select name="grade" style="width:7vmin;">
            <option value="<%=card.grade%>"><%=card.grade%></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </label><br>
    </div>
    <button type="submit" id="updateCardBtn">Update Card</button>
</form>

<%- include('./partials/footer') %>