<%- include('./partials/header') %>

<table>
  <thead>
    <tr>
      <th>Card</th>
      <th>Sport</th>
      <th>Year</th>
      <th>Brand</th>
      <th>Co.</th>
      <th>Grade</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% cards.forEach(function(c) { %>

      <tr>
        <td><a href="/<%= c.id %>"><%= `${c.year} ${c.manufacturer} ${c.firstName} ${c.lastName} ${c.rookie ? 'RC' : ''} ${c.gradingCo} ${c.grade}` %></a></td>
        <td><img src="/public/images/<%= c.sport %>.png" alt="<%= c.sport %>" width="25vmin" height="25min"></td>
        <td><%= c.year %></td>
        <td><%= c.manufacturer %></td>
        <td><%= c.gradingCo %></td>
        <td><%= c.grade %></td>
        <td><%= c.quantity %></td>
        <td><%= c.price %></td>
        <td>
          <form action="/<%= c.id %>/edit" method="get">
            <button type="submit">Edit</button>
          </form>
        <td>
          <form
            action="/<%= c.id %>?_method=DELETE"
            method="POST"
            class="delete-form"
          >
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
   <% }) %>
  </tbody>
</table>

<%- include('./partials/footer') %>