<%- include('./partials/header') %>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Card</th>
      <th scope="col">Sport</th>
      <th scope="col">Year</th>
      <th scope="col">Brand</th>
      <th scope="col">Co.</th>
      <th scope="col">Grade</th>
      <th scope="col">Qty</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% cards.forEach(function(c) { %>

      <tr>
        <th scope="row"><%= `${c.year} ${c.manufacturer} ${c.firstName} ${c.lastName} ${c.rookie ? 'RC' : ''} ${c.gradingCo} ${c.grade}` %></th>
        <td><img src="/public/images/<%= c.sport %>.png" alt="<%= c.sport %>" width="25vmin" height="25min"></td>
        <td><%= c.year %></td>
        <td><%= c.manufacturer %></td>
        <td><%= c.gradingCo %></td>
        <td><%= c.grade %></td>
        <td><%= c.quantity %></td>
        <td><%= c.price %></td>
        <td id="actionBtns">
          <form action="/<%= c.id %>" method="get">
            <button type="submit" class="btn btn-outline-success">View</button>
          </form>
          <form action="/<%= c.id %>/edit" method="get">
            <button type="submit" class="btn btn-outline-warning">Edit</button>
          </form>
          <form
            action="/<%= c.id %>?_method=DELETE"
            method="POST"
            class="delete-form">
            <button type="submit" class="btn btn-outline-danger">Delete</button>
          </form>
        </td>
      </tr>
   <% }) %>
  </tbody>
</table>

<%- include('./partials/footer') %>

